<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workoutwiz</title>

  <!-- 
    - FAVICON
  -->
  <link rel="shortcut icon" href="./assets/images/favicon.png">

  <!-- 
    - CSS LINK
  -->
  <link rel="stylesheet" href="./assets/css/AcompanhamentoProgresso2.css">

  <!-- 
    - GOOGLE FONTS LINK
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@600;700&family=Rubik:wght@400;500&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#" class="logo">
        <img src="./assets/images/logo.png" alt="Workoutwiz logo">
      </a>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <button class="menu-close-btn" data-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="./assets/images/logo.png" alt="Workoutwiz logo">
        </a>

        <ul class="navbar-list">

          <li>
            <a href="#" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Sobre</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Serviço</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Contato</a>
          </li>

        </ul>

        <button id="btn-login" class="btn btn-secondary">Login</button>
        <button id="btn-voltar" class="btn btn-secondary" onclick="window.location.href='Home.html'">Voltar Home</button>

      </nav>

    </div>
  </header>


  <main>
    <article>
      <section class="hero">
        <div class="container">

          <div class="hero-content">
            <h1 class="h1 hero-title">Gráfico Do Desempenho</h1>
            <p class="section-text">
              Nesta sessão você pode conferir o seu desempenho das suas tarefas baseado nas respostas informadas no seu registro.
            </p>
          </div>

          <div class="hero-banner">
            <canvas id="progressoChart" class="graph-image"></canvas>
          </div>
        </div>

        <section class="cta">
            <div class="title-wrapper">
  
              <h2 class="h2 cta-title">
                <span>Desempenho não atingiu as metas especuladas?</span>
              </h2>
  
              <button class="btn btn-primary" id="novo-planejamento-button" onclick="window.location.href='PlanejamentoTreinos.html'">Realizar Novo Planejamento</button>
  
            </div>

        </section>
  

      </section>
    </article>
  </main>


  <!-- 
    - FOOTER
  -->
  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./assets/images/logoBlack.png" alt="Workoutwiz logo">
          </a>

          <p class="footer-text">
            Aplicação inovadora focada no gerenciamento de academia
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-google"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-link-title">Serviço</p>
            </li>

            <li>
              <a href="#" class="footer-link">Lorem</a>
            </li>

            <li>
              <a href="#" class="footer-link">Lorem</a>
            </li>

            <li>
              <a href="#" class="footer-link">Lorem</a>
            </li>

            <li>
              <a href="#" class="footer-link">Lorem</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-link-title">Companhia</p>
            </li>

            <li>
              <a href="#" class="footer-link">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat autem ex ea dolores deleniti! Nisi ex soluta veniam? Tempore, expedita natus! Temporibus vel, atque modi quisquam nulla asperiores aspernatur sequi.</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-link-title">Sobre</p>
            </li>

            <li>
              <a href="#" class="footer-link">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat autem ex ea dolores deleniti! Nisi ex soluta veniam? Tempore, expedita natus! Temporibus vel, atque modi quisquam nulla asperiores aspernatur sequi.</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-link-title">Contato</p>
            </li>

            <li class="contact-item">
              <span>Número : </span>

              <a href="tel:5463876387" class="contact-link">(31)999999999</a>
            </li>

            <li class="contact-item">
              <span>Email : </span>

              <a href="mailto:example@gmail.com" class="contact-link">example@gmail.com</a>
            </li>

            <li class="contact-item">
              <span>Endereço : </span>

              <a href="#" class="contact-link">
                <address>Belo Horizonte, Brazil</address>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          &copy; 2023 <a href="">Workoutwiz</a>. Todos os direitos reservados
        </p>
      </div>
    </div>

  </footer>

  <!-- 
    - VOLTAR PARA O TOPO
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="arrow-up"></ion-icon>
  </a>

  <!-- 
    - SCRIPT JS
  -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./assets/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>

    function fetchData() {
      axios.get('http://localhost:8080/acompanhamento')
        .then(function (response) {
          const dados = response.data;

      
          updateChart(dados);
        })
        .catch(function (error) {
          console.error(error);
        });
    }


    function updateChart(data) {
  // Agregando os dados por treinoId
  const aggregatedData = data.acompanhamentoList.reduce((acc, entry) => {
    if (!acc[entry.treinoId]) {
      acc[entry.treinoId] = {
        treinoId: entry.treinoId,
        taxaProgresso: 0
      };
    }
    acc[entry.treinoId].taxaProgresso += entry.taxaProgresso;
    return acc;
  }, {});

  // Convertendo o objeto agregado em um array
  const finalData = Object.values(aggregatedData);

  // Preparando os dados para o gráfico
  const labels = finalData.map(entry => `Treino ${entry.treinoId}`);
  const taxasDeProgresso = finalData.map(entry => entry.taxaProgresso);

  // Configuração do gráfico
  const config = {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Taxa de Progresso Total por Treino',
        data: taxasDeProgresso,
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  };

  // Criando o gráfico
  const ctx = document.getElementById('progressoChart').getContext('2d');
  new Chart(ctx, config);
}
    fetchData();
  </script>

  <!-- 
    - LINKS DOS ICONES
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>