<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workoutwiz</title>

  <!-- FAVICON -->
  <link rel="shortcut icon" href="./assets/images/favicon.png">

  <!-- CSS LINK -->
  <link rel="stylesheet" href="./assets/css/Cadastro.css">
</head>

<body>
  <div class="wrapper">
    <div class="form-container sign-up">
      <!-- Signup Form -->
      <form id="cadastro">
        <h2>Cadastro de Treinador</h2>
        <div class="form-group">
          <input id="name" type="text" required>
          <label for="">Nome</label>
          <i class="fas fa-user"></i>
        </div>
        <div class="form-group">
          <input id="especialidade" type="text" required>
          <label for="">Especialidade</label>
          <i class="fas fa-certificate"></i>
        </div>
        <div class="form-group">
          <input id="usuario" type="text" required>
          <label for="">Nome de Usuário</label>
          <i class="fas fa-user"></i>
        </div>
        <div class="form-group">
          <input id="password" type="password" required>
          <label for="">Senha</label>
          <i class="fas fa-lock"></i>
        </div>

        <button type="submit" class="btn">Cadastrar</button>
        <div class="link">
          <p>Já possui uma conta?<a href="Login.html" class="signin-link"> Login</a></p>
        </div>
      </form>
    </div>
  </div>

  <!-- Font Awesome Script -->
  <script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let wrapper = document.querySelector('.wrapper'),
        signUpLink = document.querySelector('.link .signup-link'),
        signInLink = document.querySelector('.link .signin-link');

      signUpLink.addEventListener('click', () => {
        wrapper.classList.add('animated-signup');
        wrapper.classList.remove('animated-signin');
      });

      signInLink.addEventListener('click', () => {
        wrapper.classList.remove('animated-signup');
        wrapper.classList.add('animated-signin');
      });

      document.getElementById("cadastro").addEventListener("submit", function (e) {
        e.preventDefault();

        let nome = document.getElementById("name").value;
        let especialidade = document.getElementById("especialidade").value;
        let usuario = document.getElementById("usuario").value;
        let senha = document.getElementById("password").value;

        let data = {
          Nome: nome,
          Especialidade: especialidade,
          Usuario: usuario,
          Senha: senha
        };

        axios.post('http://localhost:8080/treinador', data)
          .then(function (response) {
            console.log(response.data);
            window.location.href = 'Login.html'; 
          })
          .catch(function (error) {
            console.error(error);
          });
      });
    });
  </script>

</body>

</html>
