<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workoutwiz</title>

  <!-- FAVICON -->
  <link rel="shortcut icon" href="./assets/images/favicon.png">

  <!-- CSS LINK -->
  <link rel="stylesheet" href="./assets/css/Login.css">
</head>

<body>
  <div class="wrapper">
    <div class="form-container sign-in">
      <!-- Login Form -->
      <form id="login-form">
        <h2>Login</h2>
        <div class="form-group">
          <input id="name" type="text" required>
          <label for="">Nome</label>
          <i class="fas fa-user"></i>
        </div>
        <div class="form-group">
          <input id="email" type="email" required>
          <label for="">Email</label>
          <i class="fas fa-at"></i>
        </div>
        <div class="form-group">
          <input id="password" type="password" required>
          <i class="fas fa-lock"></i>
          <label for="">Senha</label>
        </div>
        <!-- <div class="forgot-pass">
          <a href="#">esqueceu a senha?</a>
        </div> -->
        <button id="btn-login" type="submit" class="btn">Login</button>
        <div class="link">
          <p>Não possui uma conta?<a href="Cadastro.html" class="signup-link"> Cadastro</a></p>
        </div>
      </form>
    </div>
  </div>

  <!-- Font Awesome Script -->
  <script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let loginForm = document.getElementById('login-form');

      loginForm.addEventListener('submit', function (e) {
        e.preventDefault();

        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;

        let data = {
          name: name,
          email: email,
          password: password
        };

        axios.post('http://localhost:8080/signup', data)
          .then(function (response) {
            console.log(response.data);
            window.location.href = 'Home.html';
          })
          .catch(function (error) {
            console.error(error);
          });
      });
    });
  </script>


</body>

</html>